---
layout: default
title: "All Categories"
---
<h2>Categories</h2>
<div class="list-container">
  {% for category in site.categories %}
    <div class="list-item category-item">
      <a href="#{{ category[0] | slugify }}" class="category-link">{{ category[0] }}</a>
      <span>({{ category[1].size }})</span>
    </div>
  {% endfor %}
</div>

<hr>

{% for category in site.categories %}
  <div id="{{ category[0] | slugify }}">
    <h3>{{ category[0] }}</h3>
    <div class="category-posts">
      {% for post in category[1] %}
        <div class="category-post-item">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}