---
layout: default
---
<h2>Posts & Projects</h2>
<div class="posts-container">
  {% for post in site.posts %}
    <div class="post-item">
        <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
        <h3 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        {% if post.description %}
          <p class="post-description">{{ post.description }}</p>
        {% else %}
          <p class="post-description">{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
        {% endif %}
        <div class="post-categories">
          {% for category in post.categories %}
            <span class="category-tag">{{ category }}</span>
          {% endfor %}
        </div>
        <div class="post-tags">
          {% for tag in post.tags %}
            <span class="tag-tag">{{ tag }}</span>
          {% endfor %}
        </div>
    </div>
  {% endfor %}
</div>