---
layout: default
title: "All Tags"
---
<h2>Tags</h2>
<div class="list-container">
  {% for tag in site.tags %}
    <div class="list-item tag-item">
      <a href="#{{ tag[0] | slugify }}" class="tag-link">{{ tag[0] }}</a>
      <span>({{ tag[1].size }})</span>
    </div>
  {% endfor %}
</div>

<hr>

{% for tag in site.tags %}
  <div id="{{ tag[0] | slugify }}">
    <h3>{{ tag[0] }}</h3>
    <div class="tag-posts">
      {% for post in tag[1] %}
        <div class="tag-post-item">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}