<div class="sidebar">
    <img src="{{ '/picture/icon.jpg' | relative_url }}" alt="Your Avatar" class="avatar" id="home-link">
    <h1>渡 Ferry</h1>
    <h2>暗闇で生きている良かった</h2>
    <p>
        I am currently a Master's student (Master of Engineering) at Sophia University in Tokyo, Japan.<br>
        <br>@islab.sophia<br>
    </p>
    <div class="social-links">
        <a href="https://github.com/shengruduzhou" target="_blank">
            <img src="{{ '/picture/GitHub.png' | relative_url }}" class="social-icon">GitHub
        </a>
        <a href="https://twitter.com/dudu2027377" target="_blank">
            <img src="{{ '/picture/Twitter.png' | relative_url }}" class="social-icon">Twitter
        </a>
        <a href="mailto:shanhefu@gmail.com">
            <img src="{{ '/picture/Email.png' | relative_url }}" class="social-icon">Email
        </a>
    </div>
</div>